


  <div class="container text-center" style="border-radius: 5px;">

    <div class="row justify-content-md-center">

      <div class="col">
        <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view, class: "display-4 disabled", style: "text-decoration: none; color: black;" %>
      </div>
      

      <div class="col-9">

        <!-- this is the month shown -->
        <span class="display-3"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>

      </div>
      

      <div class="col">

        <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view, class: "display-4", style: "text-decoration: none; color: black;" %>

      </div>

      

    </div>
      
  </div>

  <!-- this is the calendar that I implemented form scratch -->
  <table class="table table-bordered table-responsive">

    <thead>

      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th>
            <%= t('date.abbr_day_names')[day.wday] %>
          </th>
        <% end %>
        

      </tr>

    </thead>
       
    <tbody>

      <% date_range.each_slice(7) do |week| %>
      <tr style="height: 100px;">
        <% week.each do |day| %>

          <% if ( start_date.month == day.month ) %>
            <td style="text-align: right;">
              <%= day.day  %>

            </td>

          <% else %>

            <td style="text-align: right; background-color: aqua;">
              <%= day.day  %>

            </td>
            
          <% end %>

        <% end %>
      </tr>

      <% end %>


      
    </tbody>
    


  </table>





<%# Date.today.month %>

<br>
<br>
<br>
<br>