

<div class="simple-calendar">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view, class: "h3" %>

    <!-- this is the month shown -->
    <span class="display-3"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>


    <%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view %>
  </div>

  <table class="table table-bordered table-responsive">
    <thead>
      <tr >
        <% date_range.slice(0, 7).each do |day| %>

          <th>
            <%# puts( day.wday ) %>
            <%= t('date.day_names')[day.wday] %>
          </th>
          
        <% end %>
      </tr>
    </thead>

  </table>


  <table style="border: 1px solid black; background-color: white; border-collapse: collapse; width: 100%;">

    <thead>

      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th style="border: 1px solid black; height: 40px; width: 13.29%;">
            <%= t('date.abbr_day_names')[day.wday] %>
          </th>
        <% end %>
        

      </tr>

    </thead>
       
    <tbody>

      <% date_range.each_slice(7) do |week| %>
      <tr style="height: 100px;">
        <% week.each do |day| %>

          <% if ( start_date.month == day.month ) %>
            <td style="border: 1px solid black;">
              <%= day.day  %>

            </td>

          <% else %>

            <td style="border: 1px solid black; background-color: aqua;">
              <%= day.day  %>

            </td>
            
          <% end %>

        <% end %>
      </tr>

      <% end %>


      
    </tbody>
    


  </table>



</div>



<br>
<br>
<br>
<br>